.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: white;
}

.fa {
    padding-right: 0.5em;
    padding-top: 0.3em;
}

.nav {
    font-size: 1.5em;
    color: black;
}

.nav:active{
    font-weight: bold;
    color: sienna;
    text-decoration: none;
}

.search {
    color: black;
}

.search:hover{
    font-weight: bold;
    color: sienna;
}

.search-input {
    border: 0.1em solid gray;
    margin-top: 2em;
    margin-right: 0.5em;
}



@media screen and (min-width: 768px) {
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .fa {
        padding-right: 0;
    }

    .nav {
        display: inline-block;
        padding-right: 3em;
        font-size: 1em;
        color: black;
    }
    
    .nav:hover{
        font-weight: bold;
        color: sienna;
        text-decoration: none;
    }
    
    .search {
        color: black;
    }
    
    .search:hover{
        font-weight: bold;
        color: sienna;
    }
    
    .search-input {
        border: 0.1em solid gray;
        margin: 0;
        margin-right: 0.5em;
    }
} 
