.presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: url(https://images-gmi-pmc.edge-generalmills.com/2ec98352-15dc-42c5-b9e9-7c4c0acc4bba.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
}

.presentation-title {
    margin-top: 1em;
    font-size: 1em;
    font-weight: bold;
    background-color: linen;
    justify-self: flex-start;
    padding: 0.5em 2em 2em 0.5em;
    width: 10em;
    clip-path: polygon(50% 0%, 100% 0, 0 70%, 0% 0);
}

.presentation-text {
    background-color: linen;
    margin-top: 1.5em;
    padding:1em;
    text-align: center;
    font-size: 0.6em;
}

@media screen and (min-width: 375px) {
    .presentation-title {
        margin-top: 1.5em;
    }

    .presentation-text {
        font-size: 1em;
    }
    
}

@media screen and (min-width: 768px) {
    .presentation-title {
        margin-top: 1.1em;
        font-size: 2em;
        padding: 0.5em 2em 2em 1.5em;
        width: 10em;
    }
    
    .presentation-text {        
        height: 7em;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    .presentation-title {
        margin-top: 0.75em;
        font-size: 3em;
        padding: 0.5em 2em 2em 1em;
        width: 9em;
        clip-path: polygon(50% 0%, 100% 0, 0 100%, 0% 0);
    }
    
    .presentation-text {
        margin-top: 1.5em;
    }
}